@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-500: #F59E0B;
  --font-sans: "Poppins", sans-serif;
}

@layer base {
  body, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
  }
}